@charset "UTF-8";
@import "./normalize.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
html {
  scroll-behavior: smooth;
}

@media (max-width: 1172px) {
  html {
    min-width: 100%;
  }
}
body {
  background-color: rgb(226, 226, 226);
  font-style: Arial;
}
body a {
  text-decoration: none;
  color: blueviolet;
}
body li > a:hover {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Montserrat";
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 1172px) {
  p {
    text-indent: 5px;
  }
}
span.name {
  font-family: "Caveat";
  font-weight: 300;
}

button {
  justify-self: center;
  align-self: center;
  margin: 15px;
  padding: 5px 15px;
  font-family: "Caveat";
  font-size: 25px;
  background-color: rgb(250, 234, 116);
  border-radius: 5px;
  box-shadow: -5px 7px 20px 3px rgba(34, 60, 80, 0.2);
  transition: all 0.25s ease;
}

button:active {
  background-color: rgb(250, 239, 152);
  box-shadow: -5px 7px 20px 0px rgba(34, 60, 80, 0.2);
}

.container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%;
  height: 100vh;
}
header .header_line {
  height: 60px;
  display: flex;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.32);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0px;
  z-index: 5;
}
header .header_line .header_logo_container {
  display: flex;
  align-items: center;
  min-width: 135px;
}
header .header_line .header_logo_container .header_logo {
  background-image: url(../img/logo_mini.svg);
  background-size: contain;
  border-radius: 20%;
  width: 40px;
  height: 40px;
}
header .header_line .header_logo_container .header_name_wrapper {
  display: flex;
  flex-direction: column;
}
header .header_line .header_logo_container .header_name_wrapper .header_name {
  color: rgb(255, 231, 231);
  padding-left: 5px;
  font-family: "Montserrat", sans-serif;
}
header .header_line .header_logo_container .header_name_wrapper .header_name_description {
  color: rgb(255, 231, 231);
  padding-left: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
}
header .header_line nav.header_nav {
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 10px;
  list-style-type: none;
  transition: transform 1s ease, background-color 1s ease;
}
header .header_line nav.header_nav a:nth-child(1)::before {
  content: "Главная";
}
header .header_line nav.header_nav a:nth-child(2)::before {
  content: "Галерея";
}
header .header_line nav.header_nav a:nth-child(3)::before {
  content: "Заказать";
}
header .header_line nav.header_nav a:nth-child(4)::before {
  content: "Контакты";
}
header .header_line nav.header_nav a:nth-child(5)::before {
  content: "О себе";
}
header .header_line nav.header_nav a.nav_buttons {
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  height: 30px;
  margin: 0 10px;
  padding: 0 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  font-family: "Montserrat";
  font-weight: 500;
  color: rgb(255, 231, 231);
}
header .header_line nav.header_nav a.nav_buttons .nav_buttons_text {
  color: white;
}
header .header_line nav.header_nav a.nav_buttons:hover {
  color: white;
}
header .header_line nav.header_nav a.nav_buttons::after {
  content: "";
  position: absolute;
  bottom: 10px;
  background-color: rgb(250, 255, 196);
  height: 3px;
  width: 0;
  left: 0;
  margin-left: 50%;
  bottom: -3px;
  transition: all 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 10px;
}
header .header_line nav.header_nav a.nav_buttons:hover::after {
  margin-left: 0;
  width: 100%;
}
header .header_line nav.header_nav a.current {
  color: rgb(250, 255, 196);
}
header .header_line nav.header_nav a.current:hover {
  color: rgb(250, 255, 196);
}
header .header_line div.nav_telephone_container {
  color: rgb(255, 231, 231);
  transition: transform 1s ease;
}
header .header_line .burger {
  background-color: transparent;
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
}
header .header_line .burger span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: white;
  left: 5px;
  transition: transform 0.5s, opacity 0.25s, background-color 0.5s;
}
header .header_line .burger span:nth-child(1) {
  transform: translateY(-10px);
}
header .header_line .burger span:nth-child(3) {
  transform: translateY(10px);
}
@media (max-width: 1172px) {
  header .header_line {
    position: fixed;
    width: 100%;
  }
  header .header_line button.burger {
    position: relative;
    display: block;
    left: 10px;
    z-index: 5;
  }
  header .header_line .container {
    justify-content: end;
  }
  header .header_line .container nav.header_nav {
    margin: 0;
    flex-direction: column;
    position: absolute;
    left: -240px;
    width: 200px;
    height: 200vh;
    top: 0;
    padding: 120px 20px 20px 20px;
    justify-content: flex-start;
  }
  header .header_line .container nav.header_nav a.nav_buttons {
    text-align: center;
    font-size: 30px;
    padding: 35px 10px;
    width: 100%;
  }
  header .header_line .container .nav_telephone_container {
    position: absolute;
    left: -240px;
    bottom: -100%;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    width: 200px;
  }
  header .header_line.open nav.header_nav {
    transform: translateX(100%);
    background-color: rgba(0, 0, 0, 0.8);
  }
  header .header_line.open button span:nth-child(1) {
    transform: translateY(0) rotate(-45deg);
  }
  header .header_line.open button span:nth-child(2) {
    opacity: 0;
  }
  header .header_line.open button span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
  }
  header .header_line.open .nav_telephone_container {
    transform: translateX(106%);
  }
}

.top_arrow {
  display: block;
  background-image: url("../img/arrow.svg");
  transform: rotate(180deg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-top: 30px;
  margin-left: calc(100% - 50px - 30px);
  width: 50px;
  height: 50px;
  position: sticky;
  top: 40px;
  z-index: 5;
}

@media (max-width: 1172px) {
  .top_arrow {
    top: 75px;
    margin-left: calc(100% - 50px - 15px);
  }
}
section .container {
  flex-direction: column;
}

.separator {
  margin: 10px 45px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.main_content_container p {
  margin-top: -10px;
  line-height: 150%;
}
.main_content_container .content_container {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  padding: 200px 0;
}
.main_content_container .content_container .content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.main_content_container .content_container .content .image_wrapper {
  margin: 0 20px 0 0;
  display: inline-block;
  align-self: center;
  width: 200%;
}
.main_content_container .content_container .content .image_wrapper img {
  width: 100%;
}
.main_content_container .content_container .content .content_wrapper {
  margin: 0 0 0 20px;
  align-self: center;
  width: 150%;
  height: 100%;
}
.main_content_container .content_container .content .content_wrapper .content_preheader {
  color: rgb(236, 236, 236);
  line-height: 1.5rem;
}
.main_content_container .content_container .content .content_wrapper .content_header {
  text-align: left;
  line-height: 1.4;
}
.main_content_container .content_container .content .content_wrapper .content_description {
  line-height: 1.7;
}
@media (max-width: 1172px) {
  .main_content_container .content_container {
    padding: 30px 0;
  }
  .main_content_container .content_container .content {
    flex-direction: column;
  }
  .main_content_container .content_container .content .image_wrapper {
    margin: 20px;
    display: inline-block;
    align-self: center;
    width: 80%;
  }
  .main_content_container .content_container .content .image_wrapper img {
    width: 100%;
  }
  .main_content_container .content_container .content .content_wrapper {
    margin: 20px;
    align-self: center;
    width: 100%;
    height: 100%;
  }
  .main_content_container .content_container .content .content_wrapper .content_preheader {
    color: rgb(236, 236, 236);
    line-height: 1.5rem;
  }
  .main_content_container .content_container .content .content_wrapper .content_header {
    text-align: left;
    line-height: 1.4;
  }
  .main_content_container .content_container .content .content_wrapper .content_description {
    line-height: 1.7;
  }
}
.main_content_container .odd {
  background-color: rgb(226, 226, 226);
}
.main_content_container .even {
  background-color: rgb(251, 233, 221);
}

footer {
  padding: 20px 0;
  height: -moz-max-content;
  height: max-content;
  background-color: rgb(179, 59, 59);
  color: white;
  justify-content: space-around;
}
footer .footer_flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
footer .footer_flex a {
  color: rgb(255, 222, 222);
}
footer .footer_flex ul {
  list-style: none;
  padding-left: 0;
}
footer .footer_flex ul li {
  margin: 4px 0;
}
footer .footer_flex ul .social {
  margin-left: 50px;
}
footer .footer_flex ul .telegram {
  background: url(../img/telegram.svg) no-repeat 0 0px;
  background-size: contain;
  padding-left: 25px;
  background-repeat: no-repeat;
  font-size: 20px;
}
footer .footer_flex ul .viber {
  background: url(../img/viber.svg) no-repeat 0 0px;
  background-size: contain;
  padding-left: 25px;
  background-repeat: no-repeat;
  font-size: 20px;
}
footer .footer_flex ul .inst {
  background: url(../img/instagram.svg) no-repeat 0 0px;
  padding-left: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 20px;
}
footer .footer_flex ul .vk {
  background: url(../img/vk.svg) no-repeat 0 0px;
  padding-left: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 20px;
}
@media (max-width: 1172px) {
  footer .footer_flex {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=general.css.map */